@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 16px;
    background-color: #FFF7D4;
  }
  #root {
    max-width: 500px;
    margin-inline: auto;
    margin-top: 2rem;
  }

  .grass {
    background-image: url(./assets/grass.jpg);
    background-size: cover;
  }

  .snake-head {
    position: relative;
    z-index: 100;
    border-top-right-radius: 20%;
    border-bottom-right-radius: 20%;
  }

  .snake-head::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 25%;
    width: 0.5rem;
    aspect-ratio: 1/1;
    background-color: red;
    border-radius: 50%;
  }

  .snake-head::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 25%;
    width: 0.5rem;
    aspect-ratio: 1/1;
    background-color: red;
    border-radius: 50%;
  }
}